# Byte-compiled / optimized Python files
__pycache__/
*.py[cod]

# Environment variables
instance/

# Dependencies
venv/
.env

# Compiled source
*.com
*.class
*.dll
*.exe
*.o
*.so

# Logs and databases
*.log
*.sql
*.sqlite

# Output directories
*.idea/
.vscode/
*.pyc

# macOS
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints/
